body {
    font-weight: normal;
    font-family: Arial, serif;
    font-size: 14px;
    margin: auto;
    width: 75%;
}

.message {
    text-align: center;
    padding: 5px;
}

.error {
    background-color: #CC8D99;
    color: #ffffff;
}

.info {
    background-color: #4399cc;
    color: #ffffff;
}

.center {
    margin: auto;
    width: 100%;
}

#errorPanel {

}

#title {
    display: inline-block;
    font-size: 22px;
    float: right;
    margin: 0 10px 0 0;
    color: #a19b9c;
}

#map {
    height: 690px;
    border: 2px solid #dbd4d5;
    border-radius: 2px;
}

#barButtons {
    padding: 5px 5px;
    border: 0;
}

.mapButton {
    background-color: #4399cc;
    border: 0;
    color: white;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    min-width: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.mapButton:hover {
    background-color: #3564c3;
}

.incrementButtonLeft {
}

.incrementButtonRight {
}

.buttonGroup {
    display: inline;
}

.colorField {
    vertical-align: bottom;
}

#author {
    font-size: small;
    color: #8d898e;
}