body {
}

.message {
    text-align: center;
    padding: 5px;
}

.error {
    background-color: #CC8D99;
    color: #ffffff;
}

.info {
    background-color: #4399cc;
    color: #ffffff;
}

.center {
    margin: auto;
    width: 100%;
}

#mainPanel {
    padding: 25px;
}
#title {
    display: inline-block;
    font-size: 22px;
    /*float: right;*/
    margin: 0 10px 0 0;
    color: #a19b9c;
}

#map {
    height: 690px;
    border: 2px solid #dbd4d5;
    border-radius: 2px;
}

#barButtons {
    padding-right: 40px;
}

.mapButton {
    cursor: pointer;
}

.mapButton:hover {
    cursor: pointer;
}

#author {
    font-size: small;
    color: #8d898e;
}

#searchResults {
    margin-top: 5px;
}

#searchResults li {
    cursor: pointer;
}

#searchResults li:hover {
    cursor: pointer;
    background-color: aliceblue;
}

